*~
*.o
*.a
.deps/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
config.h
config.h.in
config.log
config.status
configure
depcomp
higherc-*.tar.gz
higherc-*.tar.bz2
install-sh
missing
stamp-h1
test_tok_0
test_tok_0.o
test_0
test_1
test_2
test_3
test_4
test_byte
test_bytewise
test_crc32
test_list_0
test_n_0
test_n_1
test_pbuf_0
test_pbuf_1
test_rand
test_s_0
test_s_1
test_s_2
test_sha1
test_tagid
sample_asciionly
sample_cat
test_5
test_s_3
sample_cat2
test_sha1_1
